.app-logo {
  width: 130;
  height: 41;
}

.terms-and-conditions {
  padding-top: 10px;
}

.signup-google {
  cursor: pointer;
}

.signin-login-btn {
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 30px;
  padding: 13px 10px;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
}

.signin-login-btn:hover {
  background-color: rgba(0, 0, 0, .9);
}

.signin-login-btn:active {
  background-color: rgba(0, 0, 0, .8);
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, .2);
}


/* Input Field */

.input-field-wrapper {
  display: flex;
  flex-direction: column;
}

.input-field-wrapper label {
  padding-top: 8px;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
}

.input-field-wrapper input {
  border: 1px solid rgba(0, 0, 0, .2);
  height: 40px;
  color: rgba(0, 0, 0, .7);
  margin-top: 0.2rem;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
}

.input-field-wrapper input:hover {
  border: 1px solid rgba(0, 0, 0, .6);
}

.input-field-wrapper input:focus, 
.input-field-wrapper input:active
{
  border: 1px solid rgba(0, 0, 0, .2);
}

.disabled-button {
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid rgba(0, 0, 0, .3);
}

.disabled-button:hover,
.disabled-button:focus
{
  border: 1px solid rgba(0, 0, 0, .3);
  background-color: rgba(0, 0, 0, .3);
}