<app-header [showAuth]="false"></app-header>

<section class="section-2 wf-section">
  <!-- Form -->
  <div class="main-for-form">
    <div class="auth-form">
      <div class="auth-form-wrapper">
        <h1 class="create-ur-acct" *ngIf="!isLogin">Create an Account</h1>
        <h1 class="create-ur-acct" *ngIf="isLogin">Login to Your Account</h1>

        <div class="signup-google" (click)="authenticateGoogle()">
          <img
            src="assets/google.svg"
            loading="lazy"
            width="20"
            height="20"
            alt="google icon"
          />
          <div class="button-text" *ngIf="isLogin; else signUpWithGoogle">
            Login with Google
          </div>
          <ng-template #signUpWithGoogle>
            <div class="button-text">Sign up with Google</div>
          </ng-template>
        </div>
        <div class="or">
          <div class="line"></div>
          <div class="text-block-7">or</div>
          <div class="line"></div>
        </div>
        <div class="w-form">
          <!-- FORM -->
          <form
            id="email-form-2"
            name="email-form-2"
            #form="ngForm"
            (ngSubmit)="authenticate(form.value)"
          >
            <!-- Name Field, Email Field, Password Field -->
            <div *ngFor="let field of fieldsList">
              <!-- <app-label-and-input-field [title]="field.title" [type]="field.type"></app-label-and-input-field> -->
              <div class="input-field-wrapper">
                <label
                  for="{{ field.title | lowercase }}"
                  class="signin-login-label"
                  >{{ field.title | lowercase }}</label
                >
                <input
                  type="{{ field.type }}"
                  id="{{ field.title | lowercase }}"
                  maxlength="256"
                  minlength="3"
                  name="{{ field.title | lowercase }}"
                  placeholder="Enter your {{ field.title }}"
                  required
                  ngModel
                />
              </div>
            </div>

            <!-- ✅ I agree to all Terms & Conditions -->
            <div class="terms-and-conditions" *ngIf="!isLogin">
              <label class="w-checkbox">
                <input
                  type="checkbox"
                  id="checkbox"
                  name="checkbox"
                  data-name="Checkbox"
                  class="w-checkbox-input"
                  ngModel
                  required
                />
                <span
                  class="checkbox-label w-form-label"
                  for="checkbox"
                  style="padding-right: 5px"
                  >I agree to all</span
                >

                <!-- <a [routerLink]="['']"> -->
                <div class="text-block-8">Terms &amp; Conditions</div>
                <!-- </a> -->
              </label>
            </div>

            <!-- Submit Button -->

            <!-- Login -->
            <input
              type="submit"
              value="Login"
              *ngIf="isLogin; else signUpButton"
              [disabled]="form.invalid"
              [ngClass]="{
                'signin-login-btn': true,
                'disabled-button': form.invalid
              }"
            />

            <!-- Signup -->
            <ng-template #signUpButton>
              <input
                type="submit"
                value="Sign up"
                [disabled]="form.invalid"
                [ngClass]="{
                  'signin-login-btn': true,
                  'disabled-button': form.invalid
                }"
              />
            </ng-template>
          </form>
        </div>

        <!-- Already have an account/ Don't have an Account -->
        <!-- sign up -->
        <div class="switch-2-login-signin" *ngIf="isLogin; else switchToSignUp">
          <div class="text-block-9">Don't Have an Account?</div>
          <a [routerLink]="['/sign-up']">
            <div class="text-block-8">Signup</div>
          </a>
        </div>
        <!-- login -->
        <ng-template #switchToSignUp>
          <div class="switch-2-login-signin">
            <div class="text-block-9">Already Have an Account?</div>
            <a [routerLink]="['/login']">
              <div class="text-block-8">Login</div>
            </a>
          </div>
        </ng-template>
      </div>
    </div>
    <!-- <div class="auth-img-wrapper">
      <div class="ls-img">
        <img
          src="assets/signup-img.png"
          loading="lazy"
          alt="TakeNote company picture"
          class="image-7"
        />
      </div>
    </div> -->
  </div>
</section>
