<div class="icon-button t-mar-20 bg-light-grey" (mouseenter)="showEditAndDeleteIcon()" (mouseleave)="showEditAndDeleteIcon()">
  <div class="title">
    <img src="assets/list-todo.svg" loading="lazy" width="20" height="20" alt="note icon" class="black-80 btn-svg-20">
    <div class="text-block-2">Personal Life ⭐</div>
  </div>
  
  <!-- Edit and Delete Icon -->
  <div class="edit-delete svg-12 svg" *ngIf="showEditAndDeleteIconMode">
    
    <!-- PEN -->
    <div class="card-svg-box" (click)="update()">
      <app-display-svg [svgName]="'pen'"></app-display-svg>
    </div>
    
    <!-- BIN -->
    <div class="card-svg-box" (click)="delete()">
      <app-display-svg [svgName]="'bin'"></app-display-svg>
    </div>
  </div>

</div>