<div class="note-item">
  <div class="content">
    <div class="text-block-5">I would like to go over to marry amakas shop and get me some good grocery’s. I am talking milo, milk, sugar, cornflakes, golden morn, coca oat, bonvita, cop life and what not. Sometimes she has zobo and kunu, if she does amma get those too 😁</div>
  </div>
  <div class="edit-delete svg-12 svg">
    <!-- PEN -->
    <div class="card-svg-box" (click)="edit">
      <app-display-svg [svgName]="'pen'"></app-display-svg>
    </div>
    
    <!-- BIN -->
    <div class="card-svg-box" (click)="delete">
      <app-display-svg [svgName]="'bin'"></app-display-svg>
    </div>
  </div>
</div>