<div class="side-panel">
  <div>
    <div class="container">
      <div>
        <img src="assets/passport-3.jpg" loading="lazy" class="image">
      </div>
      <div class="div-block">
        <div class="text-block text-14">Hello there,</div>
        <div class="text-block text-25">Chukwu Daniel</div>
      </div>
    </div>
    <div class="add-new-note t-mar-20 app-border"><img src="assets/add-sign.svg" loading="lazy" alt="add note icon" class="btn-svg-16 black-80">
      <div class="text-block-2">New Note</div>
    </div>
    <div class="scroll-wrapper">
      <div class="icon-button t-mar-20 bg-light-grey" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
        <div class="title"><img src="assets/list-todo.svg" loading="lazy" width="20" height="20" alt="note icon" class="black-80 btn-svg-20">
          <div class="text-block-2">Personal Life ⭐</div>
        </div>
        <div class="edit-delete-wrapper"><img src="assets/pen.svg" loading="lazy" width="24" height="24" alt="edit icon" class="edit-pen"><img src="assets/trash-can.svg" loading="lazy" alt="delete icon" class="waste-bin"></div>
      </div>
    </div>
    <div class="sidebar-fixed-bottom">
      <a href="#" class="link">Logout</a>
    </div>

  </div>
</div>