<section class="section wf-section">
  <div class="main">

    <!-- Mobile Only - Top Navbar -->
    <div class="top-nav-bar">
      <div><img src="assets/menu-fff.svg" loading="lazy" alt="menu" class="image-6"></div>
      <div>
        <div class="text-block-6">Personal Life</div>
      </div>
      <div><img src="assets/add-fff.svg" loading="lazy" width="20" height="20" alt="add note icon" class="image-5"></div>
    </div>

    <!-- Mobile Only - Background Overlay Grey -->
    <div class="background-overlay"><img src="assets/add-fff.svg" loading="lazy" width="25" height="25" alt="cancel" class="overlay-cancel"></div>

    <!-- SidePanel -->
    <app-sidebar></app-sidebar>

    <!-- Note - Main Content -->
    <div class="main-content">
      <div class="note-content">
        <div class="note-title">
          <h1 class="heading">Personal Life</h1><img src="assets/pen.svg" loading="lazy" width="24" height="24" alt="edit icon" class="edit-pen black">
        </div>
        <div class="about-note">
          <div class="text-block-3">This NOTE is kinda like a diary because it does carries data about my personal life and the things that I go through on a daily basis and how I’ve been able to overcome them and basically what happened ....</div>
        </div>
        <div class="note-header">
          <div class="div-block-3">
            <div class="text-block-4">Note</div><img src="assets/pen.svg" loading="lazy" width="24" height="24" alt="edit icon" class="edit-pen black">
          </div>
          <div class="pill-note-count">
            <div class="text-block-10">32</div>
          </div>
        </div>
        
        <!-- List of Notes -->
        <div class="notes-list-wrapper">
          <div class="note-item" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" >
            <div class="content">
              <div class="text-block-5">I would like to go over to marry amakas shop and get me some good grocery’s. I am talking milo, milk, sugar, cornflakes, golden morn, coca oat, bonvita, cop life and what not. Sometimes she has zobo and kunu, if she does amma get those too 😁</div>
            </div>
            <div class="edit-delete"><img src="assets/pen.svg" loading="lazy" alt="edit icon" class="image-3"><img src="assets/trash-can.svg" loading="lazy" alt="delete icon" class="waste-bin"></div>
          </div>
        </div>

        <div class="form-block w-form">
          <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form"><input type="text" class="text-field w-input" autofocus="true" maxlength="256" name="note" data-name="note" placeholder="Type something ..." id="note" required=""><input type="submit" value="Add" data-wait="Please wait..." id="add" class="add create-note-btn w-button"><input type="submit" value="Add Pro Note" data-wait="Please wait..." class="add-pro-todo create-note-btn w-button"></form>
        </div>
      </div>
    </div>
  </div>
</section>