.screen-padding {
  padding: 0 2rem;
}

.section-width {
  max-width: 75rem;
}

/* Menu - mobile only */
.menu-mobile {
  background: white;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}

.menu-mobile-container {
  /* background: #B3E8F7; */
  padding: 4rem 2rem;
}

.menu-mobile-item {
  /* background: springgreen; */
  padding: 1rem 1rem;
  margin-top: .5rem;
  cursor: pointer;
  font-weight: 500;
  color: rgba(0, 0, 0, .8);
}

.menu-mobile-item:hover  {
  background: rgba(0, 0, 0, .05);
}

/* Section 1 */
.w-section-1 {
  min-height: 32rem;
}

.w-section-1-container {
  margin: 0 auto;
  text-align: center;
  padding: 8rem 0 0;
}

.w-section-1-container .main-text-1 {
  padding: 0 4rem;
}

.w-section-1-container div:nth-child(2) {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* .w-section-1-container div:nth-child(3) {
  margin-top: 2rem;
} */

.main-text-1 {
  font-size: 5rem;
  font-family: 'Oswald', sans-serif;
  line-height: 6.5rem;
  font-weight: 700;
}

.main-text-2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
}

.main-text-1 span:nth-child(2) {
  background: linear-gradient(to right, #1679F7, #1678f7c5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main-text-1 span:nth-child(3) {
  color: #FF3D00;
}

.w-section-1-container .sub-text-1 {
  padding: 0 4rem;
  max-width: 700px;
  margin: 0 auto;
}

.sub-text-1 {
  font-size: 24px;
  color: rgba(0, 0, 0, .7);
}

.sub-text-1 {
  font-size: 24px;
}

.sub-text-2 {
  font-size: 20px;
}

.sub-text-3 {
  font-size: 18px;
}

/* Section 2 */
.w-section-2 {
  position: relative;
  min-height: 32rem;
}

.w-section-2-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.w-section-2-container img {
  width: 51rem;
}

.w-section-2-background {
  position: absolute;
  height: 25rem;
  width: 100%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, .05);
  border: 1px solid rgba(0, 0, 0, .2);
}

/* Section 3 */
.w-section-3-left {}

.w-section-3-container {
  margin: 0 auto;
  padding: 5rem 4rem;
  display: flex;
  /* box-sizing: border-box; */
}

.card-sidebar-gradient-grey {
  position: relative;
  height: 30rem;
  width: 24rem;
  min-width: 13rem;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, .2);
  background: linear-gradient(to bottom, rgba(74, 40, 40, 0.05), rgba(0, 0, 0, .05), rgba(0, 0, 0, .0));
}

.w-section-3-right {
  position: relative;
  margin-left: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: hotpink; */
  padding-bottom: 5rem;
}

.w-section-3-right div:last-child {
  margin-top: 1rem;
}

.blue-box {
  position: absolute;
  background-color: #1678f781;
  border: 1px solid rgba(0, 0, 0, .2);
  left: 2rem;
  width: 13rem;
  height: 2rem;
  z-index: -1;
}

.card-notebook {
  position: absolute;
  width: 18rem;
}
/* top: 20px; */

.cn-1 {top: 90px; left: 30px;}
.cn-2 {top: 200px; right: -40px;}
.cn-3 {top: 320px; left: 50px;}


/* Section 4 */
.w-section-4-left {}

.w-section-4-container {
  margin: 0 auto;
  text-align: center;
  padding: 0 4rem;
  /* box-sizing: border-box; */
}

.w-section-4-container div:nth-child(2) {
  max-width: 800px;
  padding-top: 1rem;
}

.w-section-4-img-container {
  margin-top: 3rem;
  display: flex;
}

.w-section-4-img-container-right {
  padding-left: 4rem;
}

.w-section-4-container .sub-text-3 {
  margin: 0 auto;
}

.w-section-4-img-container .card-sidebar-gradient-grey {
  width: 21rem;
  box-sizing: border-box;
  padding: 4rem 1.2rem;
}

.w-section-4-container .main-text-2 {
  position: relative;
}

.white-line {
  position: absolute;
  height: 2px;
  width: 8rem;
  right: 0;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, .5);
}

.notebook-card-empty {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  background: rgba(0, 0, 0, .1);
  position: relative;
}
.notebook-card-empty:hover {
  background: rgba(0, 0, 0, .15);
}

.notebook-card-empty:active {
  background-color: rgba(0, 0, 0, .1);
}

.cursor-click-fill {
  position: absolute;
  right: 80px;
  bottom: -15px;
}

.w-section-4-img-container .note-item {
  justify-content: end;
  align-items: start;
  text-align: start;
} 
.w-section-4-img-container .note-item .content div {
  color: rgba(0, 0, 0, .7);
}

.w-section-4-img-container .note-item .edit-delete {width: 60px; margin: 0; padding: 0;}

.w-section-4-img-container .note-card {
  position: relative;
}

.cursor-click-line {
  position: absolute;
  bottom: -15px;
  right: 15rem;
}

/* Section 5 */
.w-section-5-left {}

.w-section-5-container {
  margin: 5rem auto 0;
  height: 28rem;
  box-sizing: border-box;
  display: flex;
  align-items: end;
  position: relative;
  overflow: hidden;
  
  border-radius: 20px;
}

.card-gradient-blue {
  background: linear-gradient(to right, #1679F7, #B3E8F7);
  height: 24rem;
  width: 100%;
  border-radius: 20px;
  /* border: 1px solid rgba(0, 0, 0, .2); */
  color: white;
  display: flex;
  align-items: center;
  padding: 0 3rem;
}

.w-section-5-text-container {
  width: 40rem;
  transform: translateY(-20%);
}

.w-section-5-text-container div:nth-child(2) {
  margin-top: 0.7rem;
  font-weight: 500;
}

.phone-svg-container {
  position: relative;
  right: -5rem;
  /* bottom: -26px; */
  bottom: 15px;
}

.phone-svg-container img {
  width: 23rem;
}

/* Section 6 */
.w-section-6-left {}

.w-section-6-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10rem 4rem 7rem;
}

.w-section-6-container-left {
  max-width: 579px;
}

.w-section-6-container-left img {
  width: 100%;
}

.w-section-6-container-right {
  min-width: 400px;
  margin-left: 3rem;
  transform: translateY(-50%);
}

.w-section-6-container-right div:nth-child(2) {
  margin-top: 1rem;
}

/* footer */
.w-footer {}

.w-footer-container {
  margin: 0 auto 1rem;
  align-items: center;
  width: 98%;
  color: white;
}

.w-footer-card {
  background: rgba(0, 0, 0, .9);
  border-radius: 20px;
}

.w-footer-card-container {
  padding: 4rem 4rem 8rem;
  display: flex;
  align-items: stretch;
  margin: 0 auto;
}

.social-media-container{
  margin-top: 1.7rem;
  display: flex;
  align-items: center;
}

.social-media-container span{
  margin-right: 1.5rem;
  cursor: pointer;
}

.w-footer-card-container-left {
  margin-top: 5px;
}

.w-footer-card-container-right {
  margin-left: 25%;
}

.w-footer-card-container-right div:nth-child(2) {
  margin-top: 1rem;
}

.w-footer-card-container-right .main-text-2 span:nth-child(2) {
  color: #FF3D00;
}

.w-footer-button-container span {
  margin-top: 1rem;
  padding: 10px 40px;
  background-color: white;
  color: black;
  display: inline-block;
}

.w-footer-button-container span:hover {
  background-color: rgba(255, 255, 255, .95);
}

.w-footer-button-container span:active {
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  /* Section 1 */
  .w-section-1 {
    min-height: 28rem;
  }

  .main-text-1 {
    font-size: 3.5rem;
    line-height: 4.2rem;
  }
  
  .main-text-2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  
  /* Section 2 */
  .w-section-2-container {
    margin-top: 1rem;
  }
  
  .w-section-2-img-container {
    max-width: 51rem;
    padding: 4rem;
    margin: 0 auto;
  }

  .w-section-2-container img {
    width: 100%;
  }

  /* Section 3 */
  .w-section-3-container {
    padding: 2rem 2rem;
  }

  .w-section-3-right {
    margin-left: 5rem;
  }

  .card-sidebar-gradient-grey {
    height: 26rem;
    width: 20rem;
  }

  .card-notebook {
    width: 15rem;
  }

  .cn-1 {top: 45px; left: 20px;}
  .cn-2 {top: 170px; right: -20px;}
  .cn-3 {top: 280px; left: 40px;}
  
  /* Section 4 */
  .w-section-4-container {
    background: linear-gradient(to right, rgba(0, 0, 0, .05), rgba(0, 0, 0, .01));
    margin: 2rem 20px 20px;
    padding: 2rem 2rem 3rem;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
  }

  /* Section 6 */
  .w-section-6-container-right {
    min-width: 300px;
    transform: translateY(-20%);
  }

  .w-section-6-container-right div:nth-child(2) {
    margin-top: 1rem;
  }

  /* Footer */
  .w-footer-card-container-right {
    margin-left: 25%;
  }
}

@media screen and (max-width: 767px) {

  /* Section 1 */
  .w-section-2 {
    min-height: 20rem;
  }
  .w-section-1-container .main-text-1 {
    padding: 0 2rem;
  }

  .w-section-1-container div:nth-child(2) {
    margin-top: 1.5rem;
  }

  .sub-text-1 {
    font-size: 22px;
  }

  /* Section 2 */
  .w-section-2-background {
    height: 17rem;
  }
  
  .w-section-2-img-container {
    padding: 2rem;
  }

  /* Section 3 */
  .w-section-3-container {
    padding: 2rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .w-section-3-right {
    margin-top: 2rem;
    margin-left: 0rem;
    padding-bottom: 0;
  }

  /* Section 4 */

  .w-section-4-container .card-sidebar-gradient-grey {
    display: none;
  }

  .w-section-4-img-container {
    margin-top: 1rem;
  }

  .w-section-4-container .sub-text-3 {
    padding-top: 1rem;
  }

  .w-section-4-img-container-right {
    padding-left: 0;
  }

  .edit-delete {width: 0;}

  /* Section 5 */
  .w-section-5-container {
    margin-right: 1rem;
    margin-left: 1rem;
    height: inherit;
  }
  
  .card-gradient-blue {
    flex-direction: column;
    height: 43rem;
    padding: 0rem 3rem;
    align-items: start;
  }

  .w-section-5-text-container {
    width: auto;
    padding-top: 3rem;
    transform: none;
  }

  .phone-svg-container {
    bottom: -1.6rem;
    position: absolute;
    right: 3rem;
  }

  /* Section 6 */
  .w-section-6-left {}

  .w-section-6-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 6rem 20px 7rem;
  }

  .w-section-6-container-left {}

  .w-section-6-container-right {
    min-width: none;
    margin-left: 0;
    margin-top: 2rem;
    transform: translateY(-20%);
  }

  .w-section-6-container-right div:nth-child(2) {
    margin-top: 1rem;
  }

  /* Footer */
  .w-footer-card-container {
    flex-direction: column;
    padding: 3rem 3rem 4rem;
  }

  .w-footer-card-container-right {
    margin: 5rem 0 0;
    /* flex-flow: 2; */
  }

  .w-footer-card-container-left {
    flex-flow: 1;
  }

}

@media screen and (max-width: 479px) {
  .screen-padding {
    padding: 0 1.4rem;
  }

  /* Header */
  .w-header {
    height: 53px;
  }
  /* Section 1 */
  .w-section-2 {
    min-height: 10rem;
  }
  .w-section-1-container .main-text-1 {
    padding: 0 1rem;
  }
  
  .main-text-1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .sub-text-1 {
    font-size: 20px;
  }

  /* Section 2 */
  .w-section-2-background {
    height: 12rem;
  }
  .w-section-2-img-container {
    padding: 1rem;
  }

  
  /* Section 5 */
  .card-gradient-blue {
    /* height: 38rem; */
    padding: 0 20px;
  }

  .phone-svg-container {
    position: absolute;
    bottom: -1.45rem;
    right: 50%;
    transform: translateX(50%);
  }

  .phone-svg-container img {
    width: 20rem;
  }

  /* Footer */
  .w-footer-card-container {
    flex-direction: column;
    padding: 3rem 2rem 4rem;
  }
}

@media screen and (max-width: 370px) {
  /* Section 1 */
  .main-text-1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .sub-text-1 {
    font-size: 16px;
  }

  /* Section 3 */
  .card-sidebar-gradient-grey {
    height: 20rem;
    width: 15rem;
  }

  .card-notebook {
    width: 13rem;
  }

  .cn-1 {top: 25px; left: 10px;}
  .cn-2 {top: 130px; right: -10px;}
  .cn-3 {top: 230px; left: 30px;}
}