<div class="main-content" *ngIf="notebook$ | async as notebook">
  <div class="note-content">

    <!-- Note Title -->
    <div>
      <div class="note-title" (click)="showTitleForm()" *ngIf="!editTitleMode">
        <h1 class="heading">{{ notebook.title }}</h1>
        <app-display-svg [svgName]="'pen'" ></app-display-svg>
        
      </div>
    </div>
    
    <div class="note-title" *ngIf="editTitleMode">
      <app-quick-input-field 
        [title]="notebook.title" 
        styles="input-note-title"
        [save]="updateTitle()" 
        (closeInputField)="showTitleForm()">
      </app-quick-input-field>
    </div>
      
    <div class="about-note">
      <div class="about-block" *ngIf="!editDescriptionMode" (click)="showDescriptionForm()">
        <p>{{ notebook.description }}</p>
      </div>
      <div *ngIf="editDescriptionMode">
        <app-quick-input-field 
          [title]="notebook.description" 
          styles="input-note-description"
          [save]="updateDescription()"
          (closeInputField)="showDescriptionForm()">
        </app-quick-input-field>
      </div>
    </div>

    <!-- Note Section Title -->
    <div class="note-section-title">
      <div class="note-section">
        <div class="text-block-4">Note</div>
        <!-- <app-display-svg [svgName]="'pen'" ></app-display-svg> -->
      </div>
      <div class="pill-note-count" *ngIf="notes">
        <div class="text-block-10">{{notes.length}}</div>
      </div>
    </div>
    <!-- List of Notes -->
    <div class="notes-list-wrapper">
      <div *ngFor="let note of notes">
        <!-- Note Card -->
        <app-note-card [note]="note" (removeNoteId)="removeNotebook($event);" ></app-note-card>
      </div>
    </div>

  </div>
  <div class="form-block w-form">

    <form id="email-form" name="email-form" #form class="form">
      <app-text-field (createNoteEvent)="createNote($event)"></app-text-field>
    </form>
    
  </div>
</div>


<!-- Loader -->

<div class="main-content" *ngIf="(notebook$ | async) === null">
  <div class="note-content">

    <!-- Note Title - Loader -->
    <div class="note-header-loader">
      <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
        'height.px': 70,
        'background-color': 'rgba(0,0,0,.03)',
        'border-radius.px': 10,
      }"></ngx-skeleton-loader>

    </div>
    
    
    <!-- Note Description - Loader -->
    <div class="note-description-loader">
      <ngx-skeleton-loader count="2" appearance="line" [theme]="{ 
        'height.px': 16,
        'background-color': 'rgba(0,0,0,.03)',
        'border-radius.px': 10,
      }"></ngx-skeleton-loader>
    </div>

    <!-- Note Section Title - Loader -->
    <div class="note-section-title-loader">
      <div class="note-section">
        <div class="text-block-4">Note</div>
        <!-- <app-display-svg [svgName]="'pen'" ></app-display-svg> -->
      </div>
      <div class="pill-note-count">
        <div class="text-block-10">0</div>
      </div>
    </div>

    <!-- List of Notes -->

    <div class="note-content-loader">
      <ngx-skeleton-loader count="4" appearance="line" [theme]="{ 
        'height.px': 20,
        'background-color': 'rgba(0,0,0,.03)',
        'border-radius.px': 10,
      }"></ngx-skeleton-loader>
    </div>

  </div>
  <div class="form-block w-form">

    <form id="email-form" name="email-form" class="form">
      <app-text-field></app-text-field>
    </form>
    
  </div>
</div>
