<div class="main-content" *ngIf="notebook$ | async as notebook">
  <div class="note-content">

    <!-- Note Title -->
    <div class="note-title" (click)="showTitleForm()" *ngIf="!editTitleMode">
      <!-- <h1 class="heading">Personal Life</h1> -->
      <h1 class="heading">{{ notebook.title }}</h1>
      <app-display-svg [svgName]="'pen'" ></app-display-svg>
    </div>
    <div class="note-title" *ngIf="editTitleMode">
      <app-quick-input-field 
        [title]="'Personal Life'" 
        styles="input-note-title"
        [save]="updateTitle" 
        (closeInputField)="showTitleForm()">
      </app-quick-input-field>
    </div>
      
    <div class="about-note">
      <div class="text-block-3">{{ notebook.description }}</div>
    </div>

    <!-- Note Header -->
    <div class="note-header" (click)="showNoteHeaderForm()" *ngIf="!editNoteHeaderMode">
      <div class="div-block-3">
        <div class="text-block-4">Note</div>
        <app-display-svg [svgName]="'pen'" ></app-display-svg>
      </div>
      <div class="pill-note-count">
        <div class="text-block-10">32</div>
      </div>
    </div>

    <div class="note-header" *ngIf="editNoteHeaderMode">
      <app-quick-input-field 
        [title]="'Note'" 
        styles="input-note-header"
        [save]="updateNoteHeader" 
        (closeInputField)="showNoteHeaderForm()">
      </app-quick-input-field>
    </div>
    
    <!-- List of Notes -->
    <div class="notes-list-wrapper">
      <div *ngFor="let note of notes$ | async">
        <!-- Note Card -->
        <app-note-card [note]="note"></app-note-card>
      </div>
    </div>

  </div>
  <div class="form-block w-form">

    <form id="email-form" name="email-form" #form class="form">
      <app-text-field (onSubmit)="addNewNote($event, form)"></app-text-field>
    </form>
    
  </div>
</div>