/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");

body {
  margin: 0;
  /* overflow: auto; */
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

input {
  font-family: Poppins, sans-serif;
}

div {
  font-family: Poppins, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Poppins, sans-serif;
}

.success-color {
  background-color: #2ecc71;
  color: #fff;
}
.error-color {
  background-color: #ef4444;
  color: #fff;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

input:focus {
  outline: none;
}

/* For WebKit browsers (e.g., Safari, Chrome) */
::-webkit-scrollbar {
  width: 0.5rem; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Adjust background color */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px; /* Adjust border radius */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4); /* Adjust thumb color on hover */
}

/* Button */
.app-button-1,
.app-button-1-outline,
.app-button-arrow,
.app-button-round {
  padding: 6px 40px;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.app-button-1-outline {
  background: transparent;
  color: rgba(0, 0, 0, 0.9);
}

.app-button-round {
  border-radius: 50px;
}

.app-button-1:hover,
.app-button-arrow:hover,
.app-button-round:hover {
  background: rgba(0, 0, 0, 0.95);
}
.app-button-1-outline:hover {
  background: rgba(0, 0, 0, 0.05);
}

.app-button-1:active,
.app-button-arrow:active,
.app-button-round:active {
  background: rgba(0, 0, 0, 0.85);
}
.app-button-1-outline:active {
  background: transparent;
}

.app-button-arrow {
  display: inline-block;
  padding: 10px 30px;
  flex-grow: 1;
}

.app-button-arrow-flex {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Svg */
.svg-10 svg {
  width: 10px;
  height: 10px;
}
.svg-12 svg {
  width: 12px;
  height: 12px;
}
.svg-14 svg {
  width: 14px;
  height: 14px;
}
.svg-16 svg {
  width: 16px;
  height: 16px;
}
.svg-18 svg {
  width: 18px;
  height: 18px;
}
.svg-20 svg {
  width: 20px;
  height: 20px;
}
.svg-22 svg {
  width: 22px;
  height: 22px;
}
.svg-24 svg {
  width: 24px;
  height: 24px;
}
.svg-26 svg {
  width: 26px;
  height: 26px;
}

.card-svg-box {
  padding: 0.5px 5px;
  border-radius: 30%;
  cursor: pointer;
}

.card-svg-box:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.card-svg-box:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.pointer {
  cursor: pointer;
}

.svg path {
  stroke: rgba(0, 0, 0, 0.4);
}

.svg-hoverd path {
  stroke: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.disabled-svg path {
  stroke: rgba(0, 0, 0, 0.1);
}

.input-note-title,
.input-note-header {
  width: 100%;
}

.input-note-title input {
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  box-sizing: border-box;
}

.input-note-header input {
  width: 100%;
  font-size: 28px;
  font-weight: 600;
}

.update-note-pill {
  padding: 5px 6px 5px 10px;
  display: inline-block;
  margin-bottom: 0.2rem;
  background-color: #2ecc71;
  border-radius: 1rem;
  color: #fff;
  font-size: 14px;
}

.display-none {
  display: none;
}

.checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.column {
  height: 100vh;
  background-color: #f1f1f1;
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 10px;
}

.column-2 {
  height: 100vh;
  padding-left: 75px;
  padding-right: 75px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  overflow: scroll;
}

.container {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  border-radius: 0;
  flex-wrap: nowrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: hidden;
}

.avatar-container:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.avatar-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.avatar-container span {
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.text-block {
  flex: 1;
  padding-left: 0;
  font-size: 14px;
}

.text-block.text-25 {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
}

.text-block.text-14 {
  font-size: 14px;
}

.div-block {
  padding-left: 10px;
  display: block;
}

.icon-button {
  width: auto;
  height: 20px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 10px;
  align-items: center;
  padding: 0.9rem 0.8rem;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  cursor: pointer;
}

.icon-button-selected {
  width: auto;
  height: 20px;
  background-color: #d1d1d1;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  padding: 0.9rem 0.8rem;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #e1e1e1;
}

.icon-button:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.icon-button.sidebar-btn {
  width: 100%;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  padding: 23px 20px;
  display: flex;
}

.sidebar-notebook-loader {
  padding: 10px 4px 0;
}

.note-header-loader {
  margin-top: 4rem;
}

.note-description-loader {
  margin-top: 2rem;
}

.note-section-title-loader {
  display: flex;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 10px;
  font-size: 24px;
}

.note-content-loader {
  margin-top: 1rem;
}

.t-mar-10 {
  margin-top: 10px;
}

.div-block-2 {
  margin-top: 40px;
}

.body.black-80 {
  height: 100vh;
  max-height: 100vh;
  color: rgba(0, 0, 0, 0.8);
}

.btn-svg-16 {
  width: 16px;
  height: 16px;
  color: #000;
}

.btn-svg-16.black-80 {
  color: rgba(0, 0, 0, 0.8);
}

.text-block-2 {
  max-width: 12rem;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 600;
  overflow: hidden;
}

.btn-svg-20 {
  width: 20px;
  height: 20px;
  color: #000;
}

.btn-svg-20.black-80 {
  cursor: pointer;
}

.sidebar-fixed-bottom {
  background-color: #f1f1f1;
  border-top: 1px solid #b3b3b3;
  justify-content: flex-end;
  padding: 15px;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.sidebar-text-overlay,
.sidebar-text-overlay-selected {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px; /* Set the width of the fade-out effect */
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f1f1f1);
}

.sidebar-text-overlay-selected {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #d1d1d1);
}

.link {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.sp-scroll-wrapper {
  height: 76vh;
  flex-direction: column;
  padding: 0 0.5rem 1rem;
  box-sizing: border-box;
  margin-top: 10px;
  display: block;
  overflow: auto;
}

.columns {
  flex-direction: row;
  font-size: 16px;
  display: flex;
}

.heading {
  padding-left: 3.5px;
  padding-top: 2px;
  padding-bottom: 3.5px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
}

.note-title {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: flex-end;
  margin-top: 60px;
  margin-bottom: 0;
  display: flex;
}

.note-title input {
  width: 100%;
}

.about-note {
  margin-top: 2.5rem;
}

.about-block {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 500;
  padding-left: 3.5px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.about-note input {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.edit-pen {
  width: 14px;
  height: 14px;
}

.edit-pen.black {
  width: 10px;
  height: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.text-block-4 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 28px;
  font-weight: 600;
}

.note-section-title {
  display: flex;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 50px;
  font-size: 24px;
  padding-left: 3.5px;
}

.button {
  color: rgba(0, 0, 0, 0.5);
  cursor: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2px 10px;
  font-size: 16px;
  font-weight: 600;
}

.note-section {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: flex-end;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
}

.note-item {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 19px;
  padding: 15px 20px;
  display: flex;
  box-sizing: border-box;
}

.note-item:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.grid {
  grid-column-gap: 22px;
  grid-template-areas: ". Area";
}

.edit-delete {
  grid-column-gap: 0.6rem;
  display: flex;
}

.edit-delete-wrapper {
  grid-column-gap: 0.6rem;
  display: flex;
  justify-content: flex-end;
  padding-left: 15px;
}

.content {
  white-space: pre-line;
  width: 90%;
}

.text-block-5 {
  color: rgb(46, 46, 46);
  padding-right: 0.8rem;
  font-size: 16px;
  font-weight: 500;
}

.image-3 {
  cursor: pointer;
}

.waste-bin {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.bottom-inputfield {
  height: 0;
  align-items: flex-end;
  display: block;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.form-block {
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  margin-bottom: 0;
  padding: 1rem 6rem 0 28rem;
  display: block;
  position: fixed;
  z-index: 1;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-sizing: border-box;
  animation: gradientFade 0s;
}

@keyframes gradientFade {
  0% {
    background-position: 0% 100%;
    background-color: rgba(255, 255, 255, 1);
  }
  /* 30% {
    background-position: 0% 100%;
    background-color: rgba(255, 255, 255, 1);
  } */
  100% {
    background-position: 0% 100%;
    background-color: rgba(255, 255, 255, 0);
  }
}

.add.create-note-btn {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
}

.add.create-note-btn:hover {
  background-color: #000;
}

.add.create-note-btn:active {
  background-color: rgba(0, 0, 0, 0.8);
}

.add-pro-todo.create-note-btn {
  height: 50px;
  background-color: rgba(22, 121, 247, 0.9);
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
}

.add-pro-todo.create-note-btn:hover {
  background-color: #1679f7;
}

.add-pro-todo.create-note-btn:active {
  background-color: rgba(22, 121, 247, 0.9);
}

.text-field {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  flex: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.scroll-notes {
  height: 88vh;
  margin-top: 0;
  padding-bottom: 20px;
  padding-right: 5px;
  overflow: scroll;
}

.main {
  height: 100vh;
  display: flex;
}

.main.main-auth {
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.side-panel {
  width: 18rem;
  height: 100vh;
  background-color: #f1f1f1;
  position: fixed;
  z-index: 5;
  box-sizing: border-box;
}

.sp-user-card {
  padding: 0.5rem 0.7rem 0;
  display: flex;
  align-items: center;
}

.note-content {
  margin-bottom: 0;
  padding: 0rem 5rem 10rem 27rem;
  box-sizing: border-box;
}

.top-nav-bar {
  display: none;
}

.main-content {
  width: 100vw;
  position: relative;
  padding-bottom: 5rem;
}

.section {
  height: 100vh;
}

.section-2 {
  padding-top: 5rem;
}

.auth-img-wrapper {
  flex: 1;
  display: none;
}

.tk-logo {
  flex: 1;
}

.auth-form-wrapper {
  width: 440px;
  flex: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

.create-ur-acct {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.signup-google {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.button-text {
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: 600;
}

.main-auth {
  height: 90vh;
  display: flex;
}

.text-block-7 {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.or {
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 7.5px;
  display: flex;
}

.auth-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 69px;
  padding-right: 69px;
  display: flex;
}

.checkbox-label {
  font-weight: 600;
}

.text-block-8 {
  color: #1679f7;
  font-weight: 500;
  display: inline;
}

.header {
  padding: 16px 28px;
}

.text-block-9 {
  display: inline;
}

.switch-2-login-signin {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 20px;
  display: flex;
}

.background-overlay {
  display: none;
}

.title {
  width: 100%;
  align-items: center;
  display: flex;
  position: relative;
}

.add-new-note {
  width: auto;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  align-items: center;
  padding: 0.7rem 0.8rem;
  margin: 0.5rem 0.7rem 0;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.add-new-note.sidebar-btn {
  width: 100%;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  padding: 23px 20px;
  display: flex;
}

.add-new-note.t-mar-20 {
  cursor: pointer;
  border-style: none;
  justify-content: space-between;
  margin-top: 15px;
  padding-right: 5px;
}

.add-new-note.t-mar-20:hover {
  background-color: #e1e1e1;
}

.add-new-note.t-mar-20.app-border {
  border-style: solid;
  justify-content: flex-start;
  margin-top: 20px;
  display: flex;
}

.add-new-note.t-mar-20.light-grey {
  background-color: #e1e1e1;
}

.add-new-note.t-mar-20 {
  justify-content: flex-start;
  margin-top: 20px;
}

.pill-note-count {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 3px 10px;
}

.text-block-10 {
  float: none;
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (min-width: 1280px) {
  .column-2 {
    padding-left: 170px;
    padding-right: 170px;
  }

  .form-block {
    padding-left: 36rem;
    padding-right: 11rem;
    box-sizing: border-box;
  }

  .text-field {
    width: 100%;
  }

  /* .side-panel {
    width: 20rem;
    padding: 0 1rem;
    height: 100vh;
  } */

  .note-content {
    margin-bottom: 0;
    padding: 0rem 10rem 10rem 35rem;
    box-sizing: border-box;
  }

  .section-2 {
    width: 100%;
  }

  .auth-img-wrapper {
    padding-left: 50px;
    padding-right: 50px;
    display: none;
  }

  .auth-form-wrapper {
    flex: 1;
  }

  .create-ur-acct {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
  }

  .signup-google:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .signup-google:active {
    background-color: #fff;
  }

  .main-auth {
    width: 0%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    display: flex;
  }

  .signin-login-field {
    height: 45px;
  }

  .auth-form {
    margin-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    display: block;
  }

  .header {
    width: 100%;
    justify-content: flex-start;
    padding-left: 20px;
    display: flex;
  }

  .link-2 {
    text-decoration: none;
  }

  .image-7 {
    width: 580px;
  }

  .main-for-form {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .background-overlay {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .column {
    flex: 0 auto;
  }

  .column-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .container {
    height: 7%;
    margin-top: 10px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .icon-button.t-mar-20:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .text-block-2 {
    max-width: 14.8rem;
    flex: 0 auto;
    overflow: hidden;
  }

  .sidebar-fixed-bottom {
    background-color: #f1f1f1;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .sp-scroll-wrapper {
    padding-bottom: 1.2rem;
    display: block;
  }

  .edit-pen {
    width: 13px;
    height: 13px;
  }

  .text-block-4 {
    font-size: 24px;
  }

  .button {
    padding: 1px 8px;
    font-size: 14px;
  }

  .image-3,
  .waste-bin {
    width: 16px;
    height: 16px;
  }

  .form-block {
    padding-left: 3rem;
    padding-right: 3rem;
    position: fixed;
  }

  .main {
    display: block;
  }

  .side-panel {
    z-index: 5;
    width: 330px;
    height: 100%;
    border-radius: 0 20px 20px 0;
    padding-top: 0;
    position: fixed;
    top: 0;
    overflow: hidden;
  }

  .note-content {
    padding: 0rem 2rem 10rem 2rem;
    box-sizing: border-box;
  }

  .top-nav-bar {
    position: fixed;
    top: 0%;
    bottom: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    z-index: 1;
  }

  .text-block-6 {
    color: #fff;
    font-size: 25px;
  }

  .signup-google {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
  }

  .button-text {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header {
    height: 10vh;
  }

  .main-content {
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

  .main-for-form {
    height: 90vh;
  }

  .background-overlay {
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    position: fixed;
  }

  .display-none-mobile {
    display: none;
  }

  .overlay-cancel {
    position: fixed;
    top: 2%;
    bottom: auto;
    left: auto;
    right: 6%;
    transform: rotate(45deg);
  }

  .add-new-note.t-mar-20:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .add-new-note.t-mar-20.app-border {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .sp-scroll-wrapper {
    overflow-x: hidden;
    padding-bottom: 20px;
  }

  .heading {
    font-size: 40px;
  }

  .about-note {
    margin-top: 1.5rem;
  }

  .input-note-title input {
    font-size: 40px;
  }

  .note-item {
    display: block;
  }

  .edit-delete {
    justify-content: flex-end;
  }

  .content {
    width: 100%;
  }

  .text-block-5 {
    font-weight: 400;
  }

  .side-panel {
    width: 300px;
  }

  .note-content {
    padding: 0rem 1.3rem 6rem 1.3rem;
    box-sizing: border-box;
  }

  .top-nav-bar {
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-block-6 {
    font-size: 20px;
    white-space: nowrap;
    display: inline;
  }

  .side-bar-mobile {
    position: fixed;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    padding-top: 3px;
    padding-bottom: 2px;
    font-size: 30px;
  }

  .input-note-title input {
    font-size: 30px;
  }

  .note-title {
    margin-top: 30px;
  }

  .text-block-3 {
    margin-top: 0;
  }

  .about-note {
    margin-top: 1rem;
    padding-top: 0px;
  }

  .note-header {
    margin-top: 30px;
  }

  .text-block-5 {
    font-weight: 400;
  }

  .image-3,
  .waste-bin {
    width: 14px;
    height: 14px;
  }

  .form-block {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .add.create-note-btn {
    height: 40px;
  }

  .text-field {
    height: 40px;
  }

  .side-panel {
    width: 300px;
    top: 0;
  }

  .note-content {
    padding: 0rem 0.7rem 12rem 0.7rem;
    box-sizing: border-box;
  }

  .image-5,
  .image-6 {
    width: 16px;
    height: 16px;
  }

  .main-content {
    margin-top: 0;
  }

  .section {
    padding-top: 40px;
    position: static;
  }

  .section-2 {
    display: block;
  }

  .auth-form-wrapper {
    width: 300px;
  }

  .create-ur-acct {
    font-size: 20px;
    font-weight: 600;
  }

  .header {
    padding: 7px 10px;
  }

  .background-overlay {
    top: 0;
  }

  .add-new-note.t-mar-20.app-border {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

@media screen and (max-width: 350px) {
  .text-block-2 {
    max-width: 8.5rem;
  }

  .side-panel {
    width: 230px;
    top: 0;
  }
}
